<div class="component-container">
    <div class="grid grid-cols-12 gap-3">
        <div class="my-5 bg-cream/75 rounded-r-lg col-span-12 md:col-span-1">first</div>
        <div class="my-5 bg-slate-900/75 rounded-l-lg col-span-12 md:col-span-5  md:col-end-13">
            <!-- <table>
                <tr>
                    <th>Drink Name</th>
                    <th>Price</th>
                    <th>Life Effect</th>
                    <th>Tags</th>
                    <th>Featured</th>
                    <th>Image</th>
                </tr>
                <tr *ngFor="let drink of drinks">
                    <td>{{drink.name}}</td>
                    <td>{{drink.price}}</td>
                    <td>{{drink.life_effect}}</td>
                    <td>{{drink.tags}}</td>
                    <td>{{drink.featured}}</td>
                    <td><img src="{{'../../../assets/images/' + drink.image}}" alt=""></td>
                    
                </tr>
            </table> -->
            <div class="grid gird-flow-row-dense grid-cols-2 lg:grid-cols-3 m-5">
                <app-card *ngFor="let drink of drinks" [data]="drink" class="m-2"></app-card>
            </div>
        </div>
    </div>
</div>

