.component-container {
    background-image: url("../../../assets/images/backdrop.jpg");
    max-height: 100%;
    min-height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-hover {
    text-align: center;
    width: 100%;
    font-size: larger;
}